{{#
	@name Error: 503
	@desc The 503 / Maintenance
#}}


<!doctype html>
<html lang="nl">
  <head>
    <title>Site Maintenance</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { text-align: center; padding: 20px; font: 20px Helvetica, sans-serif; color: #333; background-color:#FFFFFF}
      @media (min-width: 768px){
        body{ padding-top: 150px; }
      }
      h1 { font-size: 50px; display: flex; }
      article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
      a { color: #e5007e; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>
  </head>
  <body>
    <article>
        <h1>
            We zijn zo terug ...
        </h1>
        <div>
            <p>Sorry voor het ongemak, maar we sleutelen aan de website. We zijn binnenkort weer online!</p>
            <p>— Het Team</p>
        </div>
    </article>
  </body>
</html>
